<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Film Management System</display-name>
  <servlet>
  	<display-name>ViewAllActors</display-name>
  	<servlet-name>ViewAllActors</servlet-name>
  	<servlet-class>com.flp.fms.controller.ViewAllActors</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewALLFilms</display-name>
  	<servlet-name>ViewALLFilms</servlet-name>
  	<servlet-class>com.flp.fms.controller.ViewALLFilms</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddNewActor</display-name>
  	<servlet-name>AddNewActor</servlet-name>
  	<servlet-class>com.flp.fms.controller.AddNewActor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>statusMsg</display-name>
  	<servlet-name>statusMsg</servlet-name>
  	<servlet-class>com.flp.fms.controller.statusMsg</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ModifyActor</display-name>
  	<servlet-name>ModifyActor</servlet-name>
  	<servlet-class>com.flp.fms.controller.ModifyActor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveActor</display-name>
  	<servlet-name>RemoveActor</servlet-name>
  	<servlet-class>com.flp.fms.controller.RemoveActor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchActor</display-name>
  	<servlet-name>SearchActor</servlet-name>
  	<servlet-class>com.flp.fms.controller.SearchActor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewActor</display-name>
  	<servlet-name>ViewActor</servlet-name>
  	<servlet-class>com.flp.fms.controller.ViewActor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveFilm</display-name>
  	<servlet-name>RemoveFilm</servlet-name>
  	<servlet-class>com.flp.fms.controller.RemoveFilm</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllLanguages</display-name>
  	<servlet-name>ViewAllLanguages</servlet-name>
  	<servlet-class>com.flp.fms.controller.ViewAllLanguages</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllCategories</display-name>
  	<servlet-name>ViewAllCategories</servlet-name>
  	<servlet-class>com.flp.fms.controller.ViewAllCategories</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddNewFilm</display-name>
  	<servlet-name>AddNewFilm</servlet-name>
  	<servlet-class>com.flp.fms.controller.AddNewFilm</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ViewAllActors</servlet-name>
  	<url-pattern>/ViewAllActors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewALLFilms</servlet-name>
  	<url-pattern>/ViewALLFilms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNewActor</servlet-name>
  	<url-pattern>/AddNewActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>statusMsg</servlet-name>
  	<url-pattern>/statusMsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyActor</servlet-name>
  	<url-pattern>/ModifyActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveActor</servlet-name>
  	<url-pattern>/RemoveActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchActor</servlet-name>
  	<url-pattern>/SearchActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewActor</servlet-name>
  	<url-pattern>/ViewActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFilm</servlet-name>
  	<url-pattern>/RemoveFilm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllLanguages</servlet-name>
  	<url-pattern>/ViewAllLanguages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllCategories</servlet-name>
  	<url-pattern>/ViewAllCategories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNewFilm</servlet-name>
  	<url-pattern>/AddNewFilm</url-pattern>
  </servlet-mapping>
</web-app>